<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
  <header class="navbar">
    <nav class="nav-content">
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/news">Noticias</a></li>
        <li><a href="/add">Publicar</a></li>
      </ul>

      <form action="/news/search" method="GET" class="search-form">
        <input type="text" name="query" placeholder="Buscar noticia" autocomplete="off" />
        <button type="submit">Buscar</button>
      </form>
    </nav>
  </header>

</body>

</html>